@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
:root {
    --color-light: #fff;
    --color-dark: #222;
    --color-black: black;
    --color-primary: #0CC0DF;
    --color-secondary: #7ED957;
    --padding-primary: 50px;
    --margin-primary: 50px;
    --borderRaduis-primary: 50px;
    --font-bold-primary: 900;
    --font-normal-primary: 500;
}
body {
    width: 100%;
    height: 100vh;
    background: #4facfe;
}

header{
    width: 70%;
    display: flex;
    padding: calc(var(--padding-primary)/4) calc(var(--padding-primary) / 2);
    position: fixed;
    top: 20px;
    right: 40px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    z-index: 999;
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(155, 155, 155, 0.395);
}
.logo {
    width: 120px;
    height: 50px;
}
.left-header{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-content{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.header-content > ul{
    display: flex;
    width: 90%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0 0px 0 60px;

}
.header-content > ul > li{
    padding: calc(var(--padding-primary)/ 4);
}
.name{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.name > h2{
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}
.main{
    width: 100%;
    display: flex;
}
.menu2{
    width: 20%;
    height: 80%;
    position: fixed;
    left: 20px;
    top: 50px;
    overflow: auto;
    z-index: 9;
    background: var(--color-light);
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 30px;
    box-shadow: -4px 0px 15px rgba(155, 155, 155, 0.395);
    text-align: right;
}
.img-name{
    width: 40px;
    height: 40px;
    border: 2px solid #7ED957;
    border-radius: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img-name > img{
    border-radius: 100%;
}
.search{
    border: 1px solid rgb(222, 222, 222);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.13);
    width: 60%;
    background: var(--color-light);
}
.search > input{
    border: none;
    outline: none;
    background: var(--color-light);
}
.search > input::placeholder{

    color: var(--color-secondary);
}
.search > button{
    border: none;
    background: none;
    outline: none;
    color: #0CC0DF;
}
.search > button > i{
    color: var(--color-primary);
    transition: .4s;
}
.search > button > i:hover{
    color: #698a8f;
    transition: .4s;
}
.menu-container{
    width: 100%;
    margin: 0 auto;
    align-items: end;
    justify-content: center;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.menu-container > h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    text-align: center;
    color: var(--color-primary);
    width: 90%;
    font-size: 14px;
    background: var(--color-light);
    margin: 5px 0;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 4px 0px 15px rgba(155, 155, 155, 0.395);
    transition: .5s;
    cursor: pointer;
}
.menu-container > h2:hover , #a1{
    color: var(--color-light);
    background: #4facfe;
}

.left{
    width: 25%;
}
.home{
    padding: 130px 20px 20px 20px;
    width: 76%;
    height: 100vh;
    border-radius: 30px;
    background: white;
    box-shadow: 4px -4px 15px rgba(155, 155, 155, 0.395);
    overflow: auto;
}
.home-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 40px;
}
.home-left{
    width: 45%;
}
.home-wrapper > .home-left >  form{
    width: 100%;
    padding:15px 10px 10px 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
    border-bottom: none;
    border-right: none;
    position: relative;
}
.form-group{
    display: flex;
    width: 80%;
    height: 40px;
    margin: 5px ;
    border: 1px solid #0CC0DF;
}
.form-group > #di{
    padding: 0 20px;
    background: rgb(255, 99, 132);
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
}
.form-group > #da{
    padding: 0 20px;
    background: #0CC0DF;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
}
.form-group > #ti{
    padding: 0 20px;
    background: rgb(54, 162, 235);
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
}
.form-group > input{
    width: auto ;
    outline: none;
    border: none;
    margin-left: 5px;
    width: 60%;
    color: #0CC0DF;
}
.form-group > input::placeholder{
    color: #0CC0DF;
}
#addS{
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background: rgb(75, 192, 192);
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s;
}
#addS:hover{
    background: rgb(42, 143, 143);
}
.last-day{
    width: 45%;
    height: 100%;
}
#myChart{
    width: 300px;
    height: 100%;
}
.result-text{
    width: 100%;
    padding:15px 10px 10px 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    position: relative;
}
#title-diabetes{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-light);
    padding: 8px 10px;
    background: var(--color-primary);
}
.result-text > p{
padding: 5px;
}
.result-text > p > span{
    color: #7ED957;
    font-weight: 800;
}
#description-diabetes , #consiele-diabetes{
    color: black;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    width: 100%;
}

.result-text > h3{
    background: var(--color-light);
    position: absolute;
    top: -20px;
    left: 10px;
    padding:  0 10px;
}
.result-graph{
    width: 100%;
    padding:15px 10px 10px 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
    border-bottom: none;
    border-right: none;
    position: relative;
}
.result-graph > h3{
    background: var(--color-light);
    position: absolute;
    top: -20px;
    left: 10px;
    padding:  0 10px;
}
.result-graph > h3 > em , .result-text > h3 > em{
    font-size: 10px;
    color: var(--color-primary);
}
.home-wrapper > .home-left >  form > h3{
    background: var(--color-light);
    position: absolute;
    top: -20px;
    left: 10px;
    padding:  0 10px;
}
.resul-home{
    width: 100%;
    margin: 20px auto;
    padding: 10px 4px;
}
.resul-home > .result-home-wrapper{
    width: 100%;
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
    padding: 25px;
    position: relative;
}
.result-home-wrapper > h2 {
    font-size: 17px;
    color: var(--color-primary);
    background: var(--color-light);
    padding: 5px ;
    position: absolute;
    top: -20px;
    left: 10px;
}
.search-result{
    width: 36%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.groupSearch{
    width: 85%;
    align-items: center;
    justify-content: center;
}
.groupSearch > input{
    padding: 12px 24px;
    box-shadow: 4px 0 15px rgba(155, 155, 155, 0.395);
    outline: none;
    border: none;
}
.groupSearch > button{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background: var(--color-primary);
    color: var(--color-light);
    border: none;
}
.search-result > button{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    background: var(--color-primary);
    color: var(--color-light);
    border-radius: 12px;
    border: none;
}

.table-result {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 14px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
thead {
    font-weight: 800;
}
thead > tr {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
thead > tr > th {
    background: var(--color-primary);
    color: var(--color-light);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}
.btnReload{
    padding: 5px;
    cursor: pointer;
    transition: .5s;
}
.btnReload:hover{
    transform: scale(1.1);
}
