@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-bg: #f3f3f3;
    --color-light: #fff;
    --color-dark: #222;
    --color-black: black;
    --color-primary: #0CC0DF;
    --color-secondary: #7ED957;
    --padding-primary: 50px;
    --margin-primary: 50px;
    --borderRaduis-primary: 50px;
    --font-bold-primary: 900;
    --font-normal-primary: 500;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--color-bg);
}

header {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.491));
    display: flex;
    padding: calc(var(--padding-primary)/3) calc(var(--padding-primary) * 2);
    position: fixed;
    top: 0;
    align-items: center;
}

.menu {
    width: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: .5s;
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.1);
}

.logo {
    width: 120px;
}

.main {
    width: 100%;
    height: 700px;
    background: url("https://www.intechnic.com/hubfs/Blog/Featured%20Images/12%20Best%20Hospital%20and%20Healthcare%20Websites.jpg") no-repeat top left/cover;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 100%;
    height: 600px;
}

.menu2 {
    width: 0px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(10px);
    overflow-y: hidden;
    overflow-x: hidden;
}

.logo2 {
    width: 200px;
    margin: 20px auto;
}

.close {
    width: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    margin: calc(var(--margin-primary) / 2);
    transition: .4s;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.1);
}

.list {
    padding: var(--padding-primary);
}

.list>ul>li {
    list-style: none;
    padding: 5px;
}

.list>ul>li>a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: calc(var(--font-bold-primary) - 200);
    font-size: 17px;
    transition: .6s;
}

.list>ul>li>a:hover {
    color: var(--color-primary);
}
.Register{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Register > a {
    text-decoration: none;
    color: white;
}
.Register>button {
    padding: calc(var(--padding-primary) /4) calc(var(--padding-primary) /2);
    margin: 0 auto;
    border: 2px solid var(--color-primary);
    background: transparent;
    color: var(--color-light);
    border-radius: calc(var(--borderRaduis-primary) /4);
    font-weight:calc(var(--font-bold-primary) - 200) ;
    transition: .6s;
    cursor: pointer;
}
.Register>button:hover {
    background: var(--color-primary);
    border: 2px solid transparent;
}
.header-main-content{
    width: 80%;
    margin: calc(var(--margin-primary) / 2) auto;
}
.header-main-content > h1{
    padding: calc(var(--padding-primary) / 3) calc(var(--padding-primary) / 2);
    color: var(--color-primary);
    font-weight: var(--font-bold-primary);
    background: var(--color-light);
    border-radius: 4px;
    width: 28%;
    text-align: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
}
.main-content-diabetes{
    width: 80%;
    margin: calc(var(--margin-primary) / 2) auto;
}
.main-content-diabetes > h3 {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: calc(var(--font-bold-primary) - 200);
    width: 80%;
    margin: 10px auto;
    font-style: italic;
}
.main-content-diabetes > .p{
    font-size: 16px;
    width: 80%;
    text-align: justify;
    margin: 10px auto;
    padding-left: 10px;
    border-left: 2px solid var(--color-primary);
}
.main-content-diabetes > .pU {
    font-size: 16px;
    width: 80%;
    text-align: justify;
    margin: 10px auto;
    padding-left: 10px;
    border-left: 2px solid var(--color-primary);
}
.main-content-diabetes > .p:first-letter{
    font-size: 40px;
    font-weight: var(--font-bold-primary);
    color: var(--color-primary);
    letter-spacing: 2px;
}
.main-content-diabetes > .pU > em{
    color: var(--color-primary);
}
.main-text{
    width: 70%;
    margin: 0 auto;
    padding: var(--color-primary);
}
.main-text > h1{
    color: var(--color-primary);
    font-size: 50px;
    font-weight: var(--font-bold-primary);
    width: 80%;
    margin: 0 auto;
}
.main-text > h2{
    color: var(--color-light);
    font-size: 25px;
    font-weight: calc(var(--font-bold-primary) - 200);
    width: 70%;
    margin: 0 auto;
    padding: calc(var(--padding-primary) / 3);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.41);
}
.main-text > h2 > i{
    color: var(--color-secondary);
}
.main-text > div > a {
    text-decoration: none;
    padding: calc(var(--padding-primary) /4) calc(var(--padding-primary) /2);
    background: var(--color-primary);
    border: 2px solid transparent;
    color: var(--color-light);
    border-radius: calc(var(--borderRaduis-primary) /4);
    font-weight:calc(var(--font-bold-primary) - 200) ;
    transition: .6s;
    cursor: pointer;
    margin: 15px 10px;
}
.main-text > div > a:hover{
    background: #11a0b8;
    border: 2px solid transparent;
    color: var(--color-light);
}
.main-text > div{
    width: 70%;
    margin: 0 auto;
}